{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2,
    "no-multi-spaces": 2,
    "no-mixed-spaces-and-tabs": 2,
    "quotes": [2, "single"],
    "curly": 0
  }
}
